<div class="hero space-hero">
  <div class="hero-body bg-color">
    
  </div>
</div>
<div class="container">
  <p class="buttons">
      <a href="/" class="button">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
        <span>Go Home</span>
      </a>
  <div class="columns">
    <div class="column is-two-quarters">
      <div id="map" style="width: 100%; height: 400px"></div>
    </div>
    <div class="column is-two-quarters">
      <h1 class="title">Parking Spot Detail</h1>
      <img class="dimensions-image" src="{{image}}" alt="">
      <p><span class="property">Dimensions:</span> {{size}}</p>
      <p><span class="property">Address:</span> {{space.address}}</p>
      <p><span class="property">Availability:</span> {{space.availability.period}}</p>
      <a href="/" class="button is-primary">Reserve</a>
    </div>
  </div>
</div>

<script>
  mapboxgl.accessToken = "pk.eyJ1IjoibmVyd2VuMjI5MSIsImEiOiJjazBkeG9sN3MwYzRhM3FybmdpNGR6eWJnIn0.CLSMkNf7rWHwBo-jX7eNGw";
  const map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v10"
  });
  const space_position = [
    {{space.location.coordinates.[0]}},
    {{space.location.coordinates.[1]}}
  ]
  map.addControl(new mapboxgl.NavigationControl());
  map.setZoom(15).setCenter(space_position);
  
  let marker = new mapboxgl.Marker().setLngLat(space_position).addTo(map);
  
</script>